// 
.container-product-two-home {

	margin-top: -1px;
}
.container-body-two-des {
	width: 50%;
	height: auto;
	text-align: center;
	color: #c7c5c3;
	font-weight: 200;
}
.container-body-two-title {
	font-weight: 500;
	color: #f1f1f1;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 70px;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 30px;
}
.container-body-layout-des {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
$res_650: "only screen and (max-width: 680px)";
@mixin responsive_650() {
	@media #{$res_650} {
		@content;
	}
}
$res_700: "only screen and (max-width: 730px)";
@mixin responsive_700() {
	@media #{$res_700} {
		@content;
	}
}
@include responsive_700(){
	.container-body-two-des {
		width: 100%;
		text-align: center;
		color: #c7c5c3;
		font-weight: 200;
		margin-top: 20px;
		// margin-bottom: 20px;
	}
}
@include responsive_650(){
	.container-body-two-des {
		width: 100%;
		text-align: center;
		color: #c7c5c3;
		font-weight: 200;
		margin-top: 20px;
		// margin-bottom: 20px;
	}
	.container{
		margin-left: 5%;
		margin-right: 5%;
		width: auto;
		height: auto;
	}
	.container-body-two-title {
		font-weight: 500;
		color: #f1f1f1;
		width: 100%;
		text-align: center;
		padding-top: 70px;
		font-size: 36px;
		line-height: 40px;
		// margin-bottom: 50px;
	}
}
$res_400: "only screen and (max-width: 400px)";
@mixin responsive_400() {
	@media #{$res_400} {
		@content;
	}
}
@include responsive_400(){
	.container-body-two-des {
		width: 100%;
		text-align: center;
		color: #c7c5c3;
		font-weight: 200;
		margin-top: 20px;
		// margin-bottom: 80px;
	}
	.container{
		margin-left: 3%;
		margin-right: 3%;
		width: auto;
		height: auto;
	}
}


.container-body-layout-btn {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	.share-button {
		width: 120px;
		height: 40px;
		background: #dfe6e9;
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		transition: .3s linear;
		outline: none;
		border: none;

	  }
	  .share-button:hover{
		transform: scale(1.1);
	  }
	  .share-button span{
		position: absolute;
		width: 100%;
		height: 100%;
		background: #2d3436;
		color: #f1f1f1;
		text-align: center;
		line-height: 40px;
		z-index: 999;
		transition: .6s linear;
		border-radius: 30px;
		outline: none;
	  }
	  .share-button:hover span{
		transform: translateX(-100%);
		transition-delay: .3s;
	  }
	  .share-button a {
		flex: 1;
		font-size: 16px;
		margin-right: 5px;
		color: #2d3436;
		text-align: center;
		transform: translateX(-100%);
		opacity: 0;
		transition: .3s linear;
	  }
	  .share-button:hover a {
		opacity: 1;
		transform: translateX(0);
	  }
	  .share-button a:nth-of-type(1){
		transition-delay: 1s;
		&:hover{
			color: rgb(15, 15, 165);
		}
	  }
	  .share-button a:nth-of-type(2){
		transition-delay: .8s;
		&:hover{
		 color: rgb(65, 164, 137); 
		}
	  }
	  .share-button a:nth-of-type(3){
		transition-delay: .6s;
		&:hover{
			color: rgb(227, 105, 105); 
		   }
		 }
	  .share-button a:nth-of-type(4){
		transition-delay: .4s;
		&:hover{
			color: rgb(73, 165, 188); 
		   }
		 }
		}


		.btn-see-more-body-two {
			width: auto;
			height: auto;
			text-align: center;
			background-color: #fff;
			color: #100f0e;
			cursor: pointer;
			padding: 10px;
			border-radius: 20px;
			font-size: 13px;
			outline: none;
			transition: 0.4s ease-in-out;
			animation: btn 1s ease-in-out infinite alternate;
			font-weight: 500;
			.ArrowForwardIosIcon{
				font-size: 12px;
				margin-right: 5px;
				margin-top: -5px;
				transition: 0.5s ease-in-out;
			}
			&:hover {
				// margin-top: -20px;
				background-color: #505050;
				color: white;
				.ArrowForwardIosIcon{
					margin-left: 10px;
				}
			}
		}