.container-product-search-layout {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 10px;
    .product-navbar {
        width: 18%;
        height: auto;
        min-width: 200px;
        // margin-top: 25px;
        .product-navbar-layout {
            width: 100%;
            background: white;
            padding: 20px;
            border-radius: 7px;
            height: auto;
            p {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .row-item-category-search {
                margin-top: 10px;
                width: 100%;
                height: auto;
                span {
                    font-size: 13px;
                    font-weight: 500;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    // text-decoration: ;
                }
            }
            .row-item-category-search-item {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-start;
                margin-left: 10px;
                align-items: flex-start;
                flex-direction: column;
            }
            .row-item-card-left {
                margin-top: 5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.4;
                letter-spacing: 0.6px;
                &:hover {
                    color: #2291e6;
                }
            }
        }
        .row-item-category-search:nth-child(3) {
            margin-top: 20px;
        }
    }
    .product-search-cart {
        width: 80%;
        margin-left: 5px;
        padding: 20px;
        height: auto;
        // background: rgba(29, 56, 29, 0.1);
        background-color: #fff;
        border-radius: 7px;
        .category-sort-product-search {
            width: 160px;
            height: 40px;
            margin-bottom: 10px;
            // background-color: #FFF;
            float: right;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 7px;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            .custom-dropdown {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin: 10px; /* demo only */
            }

            .custom-dropdown select {
                background-color: #4e5052;
                color: #fff;
                font-size: 14px;
                padding: 0.5em;
                // padding-right: 2.5em;
                border: 0;
                margin: 0;
                border-radius: 3px;
                text-indent: 0.01px;
                text-overflow: "";
                -webkit-appearance: button; /* hide default arrow in chrome OSX */
            }

            .custom-dropdown::before,
            .custom-dropdown::after {
                content: "";
                position: absolute;
                pointer-events: none;
            }

            .custom-dropdown::before {
                /*  Custom dropdown arrow cover */
                width: 2em;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 0 3px 3px 0;
                display: none;
            }

            .custom-dropdown select[disabled] {
                color: rgba(0, 0, 0, 0.3);
            }

            .custom-dropdown select[disabled]::after {
                color: rgba(0, 0, 0, 0.1);
            }

            .custom-dropdown::before {
                background-color: rgba(0, 0, 0, 0.15);
            }

            .custom-dropdown::after {
                color: rgba(0, 0, 0, 0.4);
            }
            .big {
                font-size: 1.3em;
            }

            .category-sort-product-search-select {
                width: 100%;
                height: 100%;
                background-color: #fff;
                font-size: 13px;
                border-radius: 7px;
                border: none;
                outline: none;
                cursor: pointer;
                .option {
                    height: 35px;
                    width: 100%;
                }
            }
        }
        .card-product-item {
            width: 215px;
            height: auto;
            padding: 7px;
            padding-top: 10px;
            cursor: pointer;
            margin-top: 5px;
            transition: 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &:hover {
                margin-top: -10px;
            }
            .img-product-item-card {
                width: 100%;
                height: 220px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 90%;
                    height: 90%;
                }
            }
            .option-product-item-card {
                margin-top: -10px;
                width: 100%;
                height: 21%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                .option-product-item-card-price {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    width: 95%;
                    height: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    p {
                        font-size: 20px;
                        color: #fd5d32;
                        font-weight: 500;
                    }
                    p:nth-child(2) {
                        font-size: 13px;
                        color: black;
                        margin-right: 20px;
                        text-decoration: line-through;
                        lighting-color: black;
                    }
                }
                .option-product-item-card-name {
                    width: 97%;
                    height: auto;
                    text-align: left;
                    color: black;
                    font-weight: 400;
                    // text-transform: uppercase;
                    margin-top: 10px;
                    p {
                        font-size: 13px;
                        word-wrap: break-word;
                        display: inline-block;
                        overflow: hidden;
                        display: -webkit-box;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        letter-spacing: 0.5;
                        line-height: 1.2;
                        &:hover {
                            color: #2291e6;
                        }
                    }
                }
            }
        }
        .Pagination {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            // background: rgba(229, 226, 233, 0.933);
            padding: 7px;
            border-radius: 7px;
        }
    }
}

$res_600: "only screen and (max-width: 600px)";
@mixin responsive_600() {
    @media #{$res_600} {
        @content;
    }
}
@include responsive_600() {
    .container-product-search-layout {
        margin-top: 60px;
    }
    .product-navbar {
        display: none;
    }
    .product-search-cart {
        width: 100%;
    }
}
