.container-header {
	width: 100%;
	height: 180px;
}
.row-header-top {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	margin-bottom: 0px;
	padding-top: 40px;
}
.row-header-bottom {
	width: 100%;
	height: 40px;
	border-top: 1px solid #616161;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	padding-bottom: 20px;
}
.row-column-header-top {
	width: 50%;
	height: 70px;
}
.img-logo-row-column-header-top {
	width: 179px;
	height: 80%;
}
.row-column-header-top-right {
	width: 320px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	margin-right: 0px;
	z-index: 555;
}
.layout-row-column-header-top-right {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 222;
}
.button-row-column-header-top {
	width: 45px;
	height: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 222;
}
.input-row-column-header-top {
	width: 250px;
	height: 100%;
	z-index: 222;
}
.search-row-column-header-top {
	width: 45px;
	height: 100%;
	background-color: #2e2e2e;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 222;
	&:hover {
		cursor: pointer;
	}
}
.fa-search {
	color: white;
	background-color: #2e2e2e;
}
.search-header {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding-left: 20px;
	color: white;
	background: rgba(92, 92, 92);
	&::placeholder {
		color: white;
		font-size: 14px;
	}
}
.fa-bars {
	color: #2e2e2e;
	background-color: white;
}
.material-icons {
	color: #2e2e2e;
	background-color: white;
	z-index: 222;
}
.menu-button-header-hover {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #f1f1f1;
		border-radius: 10px;
		box-shadow: inset 0 0 5px grey;
	}
	&::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
		&:hover {
			background: #555;
		}
	}
	background-color: white;
	width: 200px;
	height: 180px;
	position: absolute;
	margin-top: 225px;
	margin-left: 155px;
	padding: 10px;
	z-index: -1;
	overflow-y: auto;
	border-top: 1px solid #505050;
	border-bottom: 1px solid #505050;
	display: block;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	div {
		width: 100%;
		background-color: white;
		font-size: 13px;
		z-index: 111;
		padding: 3px;
		&:hover {
			color: #fca22c;
		}
	}
}
.row-header-bottom-button {
	width: 70%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 10px;
	ul {
		font-size: 12px;
		margin-right: 20px;
		color: #f1f1f1d4;
		cursor: pointer;
		font-family: "Lato", sans-serif;
		text-transform: uppercase;
		display: inline-block;
		list-style: none;
		line-height: 25px;
		li {
			display: inline-block;
			margin-right: 20px;
			font-weight: 100;
			
			&:hover {
				color: white;
				opacity: 1;
			}
		}
	}
}
.row-header-bottom-single {
	width: 25%;
	height: 100%;
}
.icon-row-header-bottom-single {
	width: 70px;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	float: right;
	.fa-user {
		&:hover,&:focus {
			.container-background-user-hover {
				display: block;
				animation-duration: 1s;
				animation-name: user;
			}
		}
	}
	.fa-shopping-cart {
		&:hover {
			.container-background-cart-hover {
				display: block;
				animation-duration: 1s;
				animation-name: cart;
			}
		}
	}
}
.fa-user {
	font-size: 30px;
	color: white;
	background: rgba(76, 175, 80, 0);
}
.fa-shopping-cart {
	font-size: 30px;
	color: white;
	background: rgba(76, 175, 80, 0);
}
.fa {
	&:hover {
		cursor: pointer;
	}
}
.quantity-cart-header {
	position: absolute;
	font-size: 13px;
	margin-top: -10px;
	margin-left: -5px;
	color: #ffc229;
	border-radius: 50%;
	padding: 3px;
	background-color: #2e2e2e;
}
.CROSS-BODY-hover-button {
	display: none;
	width: 700px;
	height: 300px;
	position: absolute;
	background-color: white;
	z-index: 666;
	border-radius: 2px;
	margin-top: 10px;
	box-shadow: 0px 5px 10px 0px rgba(58, 92, 107, 0.96);
}
.CROSS-BODY-hover-button-column {
	width: 33%;
	height: 100%;
	float: left;
	padding: 20px;
	p {
		padding: 3px;
		font-weight: 200;
		font-size: 12px;
		color: #505050;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		&:hover {
			cursor: pointer;
			color: #ffc229;
		}
	}
}
.CROSS-BODY {
	padding-bottom: 0px;
	&:hover {
		.CROSS-BODY-hover-button {
			display: block;
			animation-name: example;
			animation-duration: 1s;
		}
	}
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -7px;
	margin-left: 30px;
}
.triangle-up-option {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -22px;
	margin-left: 155px;

}
.my-text{
	margin-left: 30px;
	// position: absolute;
}

.icon-option-header{
	font-size: 18px;
	position: absolute;
	margin-top: -3px;
}
.triangle-up-option-2 {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -22px;
	margin-left: 209px;
}





#mySidenav {
	position: absolute;
	transition: 0.6s ease-in-out;
	padding: 7px;
	width: auto;
	text-decoration: none;
	font-size: 13px;
	color: black;
	border-radius: 3px;
	margin-top: -185px;
	margin-left: 340px;
	background-color: white;
	cursor: pointer;
	&:hover {
		margin-left: 360px;
		background-color: #2e2e2e;
		color: white;
	}
	a {
		text-align: center;
		width: 100%;
	}
}


.container-background-user-hover {
	width: 220px;
	height: 150px;
	display: none;
	position: absolute;
	margin-left: -180px;
	padding: 10px;
	a {
		display: block;
		color: #2e2e2e;
		padding: 5px;
		font-size: 14px;
		&:hover {
			color: #ffc229;
		}
	}
}
.container-background-user-hover-div {
	width: auto;
	height: 130px;
	background-color: white;
	padding: 15px;
	box-shadow: 0 2px 2px #616161, 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container-background-cart-hover {
	width: 270px;
	height: 170px;
	display: none;
	position: absolute;
	margin-left: -230px;
	padding: 10px;
	color: #2e2e2e;
	p {
		font-size: 14px;
	}
}
.container-background-cart-hover-div {
	width: auto;
	height: 150px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 2px 2px #616161, 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container-background-cart-hover-1 {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container-background-cart-hover-2 {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	a {
		background-color: #ffc229;
		color: white;
		width: 100px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
		&:hover {
			background-color: #fca22c;
		}
	}
}
.total-view-cart {
	font-size: 13px;
}

.button-menu-responsive{
	display: none;
	position: absolute;
	left: -10px;
	.DehazeIcon{
		color:white;
	}
}

$res_550: "only screen and (max-width: 600px)";
@mixin responsive_550() {
	@media #{$res_550} {
		@content;
	}
}
@include responsive_550(){
	.row-header-top {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 0px;
		padding-top: 40px;
	}
	.row-column-header-top{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.row-header-bottom-button{
		display: none;
	}
	.row-header-bottom-single{
		width: 100%;
		display: flex;
		justify-content:flex-end;
	}
	.button-menu-responsive{
		display: block;
	}
}

.container-list-drawer{
	width: 250px;
}
