.container-footer-bottom {
	width: 100%;
	height: 190px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	padding: 15px;
}
.footer-bottom-column-2{
	width: 100%;
	height: 100%;
}
.footer-bottom-column {
	width: 50%;
	height: 100%;
}
.footer-bottom-row-contact {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid #d2d5d4;
	color: #d2d5d4;
	cursor: pointer;
	a {
		color: #333333;
		font-size: 13px;
		text-transform: uppercase;
	}
}
.footer-bottom-row-contact-bottom {
	width: 100%;
	height: 30%;
	font-size: 13px;
	text-align: center;
	padding: 5px;
	color: #333333;
}
.footer-bottom-row-icon {
	width: 200px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 50px;
	.fa-facebook {
		padding: 15px 18px 15px 18px;
		background-color: #3b5998;
		border-radius: 50%;
		text-align: center;
	}
	.fa-twitter {
		background-color: #53abee;
		padding: 15px 16px 15px 16px;
		border-radius: 50%;
		text-align: center;
	}
	.fa-linkedin {
		background-color: #0976b4;
		padding: 15px 16px 15px 16px;
		border-radius: 50%;
		text-align: center;
	}
	.fa-google-plus {
		background-color: #cc2127;
		padding: 15px 14px 15px 14px;
		border-radius: 50%;
		text-align: center;
	}
	.fa {
		transition: 0.4s ease-in-out;
		&:hover {
			margin-top: -15px;
		}
	}
}
.scroll-top {
	position: fixed;
	bottom: 30px;
	right: 20px;
	cursor: pointer;
	transition: 0.4s ease-in-out;
	z-index: 555;
	&:hover{
		box-shadow: 1px 2px 2px 1px rgba(221, 214, 12, 0.22);
		margin-bottom: 10px;
	}
}
.container-scroll-top {
	width: 40px;
	height: 40px;
	background-color: #ffc229;
	z-index: 556;
	display: flex;
	justify-content: center;
	align-items: center;

	.icon-onTop {
		color: white;
		transition: 0.5s ease-in-out;
	}
	&:hover {
		.icon-onTop {
			margin-bottom: 10px;
		}
	}
}


$res_550: "only screen and (max-width: 550px)";
@mixin responsive_550() {
	@media #{$res_550} {
		@content;
	}
}
@include responsive_550(){
	.container-footer-bottom {
		width: 100%;
		height: 190px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		padding: 15px;
	}
	.footer-bottom-column {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}
	.footer-bottom-row-icon{
		margin-left: 0px;
	}
}