@keyframes option {
	from {
		margin-top: -50px;
	}
	to {
		margin-top: 0px;
	}
}
/* arrows */

// mui nhon
.triangle-up {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -7px;
	margin-left: 30px;
}
.triangle-up-option {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -22px;
	margin-left: 155px;
}

// header
.my-text {
	margin-left: 30px;
	// position: absolute;
}

.icon-option-header {
	font-size: 18px;
	position: absolute;
	margin-top: -3px;
}
.triangle-up-option-2 {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid white;
	position: absolute;
	margin-top: -22px;
	margin-left: 209px;
}

/* menu header */
@keyframes example {
	from {
		margin-top: 50px;
	}
	to {
		margin-top: 5px;
	}
}
@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e2e2e, 0 0 40px #2e2e2e, 0 0 50px #2e2e2e,
			0 0 60px #2e2e2e, 0 0 70px #2e2e2e;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #616161, 0 0 40px #616161, 0 0 50px #616161, 0 0 60px #616161,
			0 0 70px #616161, 0 0 80px #616161;
	}
}
/*  */
@keyframes user {
	from {
		margin-top: 50px;
	}
	to {
		margin-top: 0px;
	}
}
@keyframes cart {
	from {
		margin-top: 50px;
	}
	to {
		margin-top: 0px;
	}
}
/* product */
/*  */
/* body2 */
@-webkit-keyframes btn {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e2e2e, 0 0 40px #2e2e2e, 0 0 50px #2e2e2e,
			0 0 60px #2e2e2e, 0 0 70px #2e2e2e;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #616161, 0 0 40px #616161, 0 0 50px #616161, 0 0 60px #616161,
			0 0 70px #616161, 0 0 80px #616161;
	}
}
/* footer */
/* hover img product */
* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	scroll-behavior: smooth;
}
.img-container {
	background-image: url("../../../asset/bg_header1.png");
	height: auto;
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	background-color: #505050;
	background-attachment: fixed;
	padding-bottom: 50px;
	-webkit-background-size:cover;
}
.container {
	margin-left: 70px;
	margin-right: 70px;
	width: auto;
	height: auto;
}

.container-body {
	width: 100%;
	height: auto;
	clear: both;
}
.container-body-layout {
	width: 100%;
	height: auto;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-body-text {
	width: 500px;
	height: 300px;
	color: white;
	padding-top: 30px;
	.h1-body {
		font-size: 5rem;
		text-align: center;
		font-weight: bolder;
		animation: glow 1s ease-in-out infinite alternate;
	}
	h3 {
		font-size: 3rem;
		text-align: center;
		font-weight: bolder;
		margin-top: -20px;
	}
	.sale {
		font-size: 15rem;
		color: #ffc229;
		margin-top: -100px;
		font-weight: 400;
		text-align: center;
		// font-family: fantasy;
	}
	.p1 {
		position: absolute;
		margin-top: -185px;
		font-size: 28px;
		margin-left: 60px;
	}
	.sale-2 {
		position: absolute;
		margin-top: -200px;
		font-size: 40px;
		color: #ffc229;
		margin-left: 290px;
	}
}

.container-body-two {
	width: 100%;
	height: 100%;
	clear: both;
}

.container-body-layout-btn {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}
.btn-see-detail-body-two {
	width: auto;
	height: auto;
	text-align: center;
	background-color: #ffc229;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 20px;
	font-size: 13px;
	outline: none;
	transition: 0.5s ease-in-out;
	&:hover {
		background-color: #fca22c;
		margin-left: 20px;
	}
}
.img-container-2 {
	width: 100%;
	height: auto;
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
	background-image: url("./../../../asset/bgheader2.png");
	padding-bottom: 20px;
}

.btn-see-more-body-two {
	width: auto;
	height: auto;
	text-align: center;
	background-color: #555;
	color: white;
	cursor: pointer;
	padding: 10px;
	border-radius: 20px;
	font-size: 13px;
	outline: none;
	transition: 0.4s ease-in-out;
	animation: btn 1s ease-in-out infinite alternate;
	&:hover {
		margin-top: -20px;
		background-color: #505050;
	}
}
.product-title-home-body-two {
	width: 100%;
	height: auto;
	color: #888;
	margin-top: 10px;
	padding: 2px;
	cursor: pointer;
	&:hover {
		color: #0976b4;
	}
}
.footer-top {
	background-color: #252422;
	width: 100%;
	height: auto;
}
.footer-bottom {
	background-color: #ffffff;
	width: 100%;
	height: 190px;
}
.container-footer-top-top {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	.ip-text-bottom {
		background: rgba(76, 175, 80, 0);
		outline: none;
		border: none;
		width: 250px;
		height: 50px;
		color: white;
		padding: 5px;
		transition: 0.5s ease-in-out;
		border-radius: 10px;
		padding-left: 10px;
		&:hover {
			border: 1px solid #888;
		}
		&:focus {
			border: 1px solid #888;
		}
	}
	.btn-text-bottom {
		width: 220px;
		height: 50px;
		background-color: white;
		font-weight: 700;
		color: #555;
		outline: none;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}

.layout-product-img-layout-1 {
	transform: rotateY(180deg);
}

// responsive
$res_620: "only screen and (max-width: 620px)";
$res_720: "only screen and (max-width: 720px)";
$res_820: "only screen and (max-width: 850px)";
$res_920: "only screen and (max-width: 920px)";
$res_760: "only screen and (max-width: 760px)";
$res_1120: "only screen and (max-width: 1010)";
@mixin responsive_820() {
	@media #{$res_820} {
		@content;
	}
}

@mixin responsive_1120() {
	@media #{$res_1120} {
		@content;
	}
}
@mixin responsive_760() {
	@media #{$res_760} {
		@content;
	}
}
@mixin responsive_620() {
	@media #{$res_620} {
		@content;
	}
}
// product
.root {
	display: flex;
	flex-grow: 1;
}

.container-product-home {
	width: 100%;
	height: 100%;
	margin-top: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 70px;
	.product-home {
		width: 250px;
		height: 300px;
		border-radius: 10px;
		cursor: pointer;
		margin-top: 50px;
	}
	.layout-product-img {
		width: 100%;
		height: 100%;
		.layout-product-img-img-home {
			width: 100%;
			height: 95%;
			display: flex;
			justify-content: center;
		}
		img {
			width: 90%;
			height: 100%;
			transition: 0.6s ease-in-out;
			border-radius: 10px;
			box-shadow: 0px 5px 10px 0px rgba(34, 60, 72, 0.96);
		}
		&:hover {
			.product-option-layout {
				display: block;
			}
			img {
				margin-top: -10px;
			}
			margin-top: -10px;
		}
	}
	.option-product-home {
		width: 100%;
		height: 100px;
		margin-top: -300px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.product-title-home {
		width: 100%;
		height: auto;
		color: #888;
		margin-top: 10px;
		padding: 2px;
		cursor: pointer;
		&:hover {
			color: white;
		}

		p {
			width: 100%;
			height: 100%;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.title-quantty-product-home {
		width: 100%;
		height: 25px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
.product-option-layout {
	width: 100%;
	height: auto;
	display: none;
	.option-detail {
		width: 170px;
		height: 100%;
		padding: 20px;
		border: 1px solid #ffc229;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.fa-search {
			color: white;
			background: rgba(76, 175, 80, 0);
			font-size: 18px;
			width: 40px;
			height: 40px;
			animation-duration: 0.8s;
			animation-name: option;
			&:hover {
				background-color: #ffc229;
			}
		}
		.fa-shopping-cart {
			color: white;
			background: rgba(76, 175, 80, 0);
			font-size: 18px;
			width: 40px;
			height: 40px;
			animation-duration: 0.8s;
			animation-name: option;
			&:hover {
				background-color: #ffc229;
			}
		}
		.fa-heart-o {
			color: white;
			background: rgba(76, 175, 80, 0);
			font-size: 18px;
			width: 40px;
			height: 40px;
			animation-duration: 0.8s;
			animation-name: option;
			&:hover {
				background-color: #ffc229;
			}
		}
		a {
			.fa-search {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 1s;
			}
			.fa-shopping-cart {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 1s;
			}
			.fa-heart-o {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 1s;
			}
		}
	}
}

.product-hover-option-layout {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

$res_450: "only screen and (max-width: 480px)";
@mixin responsive_450() {
	@media #{$res_450} {
		@content;
	}
}
.button-res {
	width:90%;
	height: 30px;
	display: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	&:hover {
		margin-top: 20px;
	}
	a {
		display: none;
		text-align: center;
		width: 100%;
		color: white;
		text-decoration: underline;
		padding: 3px;
	}
	position: absolute;
	transition: 0.6s ease-in-out;
}
@include responsive_450() {
	#mySidenav {
		display: none;
	}
	.sale,
	.sale-2 {
		display: none;
	}
	.p1 {
		display: none;
	}
	.button-res {
		display: block;
		a{
			display: block;
		}
	}
	.img-container {
		background-image: linear-gradient(to bottom right, black,white);
		height: auto;
		width: auto;
		background-position: top;
		background-size: cover;
		position: relative;
		background-attachment: fixed;
		padding-bottom: 50px;
		-webkit-background-size:cover;
	}
	.img-container-2 {
		background-image: linear-gradient(to bottom right, black,white);
		height: auto;
		width: auto;
		background-position: top;
		background-size: cover;
		position: relative;
		background-attachment: fixed;
		padding-bottom: 50px;
		-webkit-background-size:cover;
	}
	.container-body-there-product-row-body{
		p{
			color: #252422;
		}
	}
}
